clone_folder: C:\msys64\home\mingw-packages
image: Visual Studio 2019

init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'
install:
  ps: InstallRtools

environment:
  DISABLE_QUALITY_CHECK: true
  PATH: C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Program Files\Git\cmd;C:\Program Files\7-Zip
  DEPLOY_PROVIDER: bintray
  BINTRAY_USER: jeroen
  BINTRAY_TARGET: rtools
  BUILD_URL: https://ci.appveyor.com/project/$(APPVEYOR_ACCOUNT_NAME)/$(APPVEYOR_PROJECT_NAME)/build/$(APPVEYOR_BUILD_VERSION)
  matrix:
    - MINGW_INSTALLS: mingw32
      BINTRAY_REPOSITORY: backports
      PACMAN_REPOSITORY: mingw32-backports
    - MINGW_INSTALLS: mingw64
      BINTRAY_REPOSITORY: backports
      PACMAN_REPOSITORY: mingw64-backports

matrix:
  fast_finish: false

build_script:
  - rmdir /s /Q C:\OpenSSL-Win32 C:\OpenSSL-Win64 C:\Python27 C:\Python27-x64
  - C:\msys64\usr\bin\bash --login -c "pacman --noconfirm -Rcsu $(pacman -Qqe | grep mingw-w64)"
  - C:\msys64\usr\bin\pacman -Syu --noconfirm
  - C:\msys64\usr\bin\bash --login -c "$(cygpath ${APPVEYOR_BUILD_FOLDER})/ci-build.sh"
#  - C:\msys64\usr\bin\bash --login -c "$(cygpath ${APPVEYOR_BUILD_FOLDER})/fullindex.sh"

test: off

artifacts:
  - path: artifacts\*
    name: binaries
  - path: sourcepkg\*
    name: sources

deploy:
  - provider: BinTray
    username: $(BINTRAY_USER)
    subject: $(BINTRAY_TARGET)
    repo: $(BINTRAY_REPOSITORY)
    package: $(MINGW_INSTALLS)
    version: latest
    publish: true
    override: true
    api_key:
      secure: rKoNWcAgUrOM7QLX4cEvA1iKoY2DR4ps/1PRveq7rJknjQjcpKx8xGs42CJPhDwJ
    on:
      branch: master
    artifact: binaries
